<div class="container-fluid py-5">
    <div class="container">
        <p class="section-title pr-5"><span class="pr-2">Introduction</span></p>
        <div class="row align-items-center">
            <!-- <div class="col-lg-5">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="../../../assets/img/slider/paralax-1.jpg" alt="">
            </div> -->
            <div class="col-12">


                <p>
                    Dashboard | WHO Coronavirus (COVID-19) Dashboard With Vaccination Data). Novel coronavirus has the basic reproduction number (R . ) in the range of 2.0 to 3.0 due to this the virus has a high rate of transmission and has spread rapidly in many countries
                    (https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7364648/). Various countries have started vaccination drives based on emergency use authorization even though studies regarding the administration of the vaccine to a huge segment of the
                    population such as people with allergies, autoimmune disorders, suppressed immune systems, breastfeeding or pregnant mothers and children below the age of 16 years remains unclear (https://www.fda.gov/media/142749/download, https://yalehealth.yale.edu/yale-covid-19-
                    vaccine-program/who-should-and-shouldnt-get-covid-19-vaccine). Many modern medicines are also being given as a method for management of COVID-19 but none of them have given definite results (https://www.goodrx.com/blog/coronavirus-treatments-on-the-way/).
                </p>
                <p>
                    Researchers are also trying to find ways of treatment and management of the disease through Complementary and Alternative Medicine(CAM). These include Naturopathy, Homeopathy, Traditional Chinese Medicine, Ayurveda, Siddha, Yoga, Chirotherapy, Psychotherapy,
                    acupuncture, auricular point pressing, and Herbal substitute of vitamins and minerals(https://www.hopkinsmedicine.org/health/wellness-and-prevention/types-of-2 complementary-and-alternative-medicine).
                </p>

                <p>
                    Globally, many clinical trials have been registered for research related to CAM but there is no separate database or location from where information regarding these trials could be obtained. Sieving out information pertaining to CAM from multiple clinical
                    trial-related databases can prove to be a cumbersome and time taking process. In order to make the process of extracting information related to CAM straightforward we have made a comprehensive and web-accessible database named “CoV-
                    AM: CoVid-19 Alternative Medicine Clinical Trials Database”. The database aims to provide the scientific community as well as common people information about CAM clinical trials in a single place thereby making the process of searching
                    easier and preventing the knowledge obtained from these trials from getting lost in the vast ocean of COVID-19 clinical trials. This research took advantage of various resources and clinical trial sites present on the internet. Data
                    related to clinical trials of alternative medicine and COVID-19 was systematically collected, filtered, standardized, and then integrated to form the first comprehensive database related to the utilization of CAM for the management
                    of COVID-19.
                </p>
            </div>
        </div>
    </div>
</div>